.exerciseCard {
  box-shadow: 1px 1px 4px #ff2625;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: #fff;
  border-top: 5px solid #ff2625;
  transform: scale(1);
  transition: transform 0.2s linear;
  min-width: 270px;
}

.exerciseCard:hover,
.exerciseCard:focus {
  transform: scale(1.03);
  transition: transform 0.2s linear;
}
