body,
html {
  font-family: "Josefine Sans", sans-serif;
  background-color: #fffafb;
  height: 100%;
}

::-webkit-scrollbar {
  width: 20px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0.05rem 0 0 "#838383";
}

::-webkit-scrollbar-thumb {
  background: #ff262544;
  border-radius: 0.5em;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
